[Desktop Entry]
Name=Avro Preview Window
GenericName=Preview Window On/Off
Comment=Turn the Windows-style Avro Preview Window on or off
Exec=avro-preview
Icon=avro-bangla
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
StartupNotify=false
