[Desktop Entry]
Name=Avro Keyboard Setup
GenericName=Avro Keyboard Installer
Comment=Install or update Avro Keyboard from an avro-linux .deb file and set it up for you
Exec=avro-setup %f
Icon=avro-bangla
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=avro;install;update;setup;bangla;bengali;
StartupNotify=true
