[Desktop Entry]
Name=Avro Floating Preview
GenericName=Floating Candidate Preview
Comment=Non-intrusive floating candidate & preview window for Avro Linux
Exec=avro-preview
Icon=ibus-avro
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
StartupNotify=false
