[Desktop Entry]
Name=Avro Bengali Input Preferences
Name[bn]=অভ্র বাংলা ইনপুট পছন্দসমূহ
Comment=Configure Avro Phonetic Bengali input method settings
Comment[bn]=অভ্র ফোনেটিক বাংলা কিবোর্ড সেটিংস কনফিগার করুন
Type=Application
Exec=/usr/share/avro-linux/preferences/pref.js --standalone
Icon=avro-bangla
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=avro;bengali;bangla;keyboard;input;ime;preferences;
StartupNotify=true
