[Desktop Entry]
Type=Application
Name=Avro TopBar
GenericName=Bengali Input Method Toolbar
Comment=Floating Avro Keyboard toolbar
Exec=avro-topbar
TryExec=avro-topbar
Icon=avro-bangla
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
