[Desktop Entry]
Type=Application
Name=Avro Input Method Daemon
Comment=Starts IBus daemon for Avro Phonetic Bengali typing
Exec=ibus-daemon -drx
Terminal=false
NoDisplay=true
StartupNotify=false
X-GNOME-Autostart-enabled=true
Categories=Utility;
